.pet-container {
    /* border: 1px solid black; */
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.pet-img {
    width: 12em;
    height: 12em;
    mix-blend-mode: multiply;
    animation:  move 8s ease-in-out infinite ;
}

.tomb-img{
    width: 12em;
    height: 12em;
    /* mix-blend-mode: multiply; */
    animation: tombmove 20s ease-in-out infinite;
    border: none;
}


@keyframes move {
    0% { transform: translate(10vw , -20vh) scaleX(1) ;}
    49% {transform: translate(calc(90vw - 8em), -20vh) scaleX(1);}
    50% { transform: translate(calc(90vw - 8em), -20vh) scaleX(-1) ;}
    99% {transform: translate(10vw , -20vh) scaleX(-1);}
    100% { transform: translate(10vw , -20vh) scaleX(1);}

}
@keyframes tombmove {
    0% { transform: translate(10vw , -20vh)  ;}
    50% { transform: translate(calc(90vw - 8em), -20vh)  ;}
    100% { transform: translate(10vw , -20vh);}

}