.container {
  min-height: 100vh;
  background-image: url("./assets/neopets-backgrounds.jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.graveyard {
  background-color: black;
  background-image: url("./assets/graveyard.png");
}

.start-again {
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 2px solid hotpink;
  border-radius: 0.5em;
}
